<?xml version="1.0" encoding="utf-8"?>
<LiveTvOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GuideDays xsi:nil="true" />
  <EnableRecordingSubfolders>false</EnableRecordingSubfolders>
  <EnableOriginalAudioWithEncodedRecordings>false</EnableOriginalAudioWithEncodedRecordings>
  <TunerHosts>
    <TunerHostInfo>
      <Id>{{ jellyfin_livetv_tuner_id }}</Id>
      <Url>{{ jellyfin_livetv_m3u_url }}</Url>
      <Type>m3u</Type>
      <FriendlyName>Dispatcharr</FriendlyName>
      <ImportFavoritesOnly>false</ImportFavoritesOnly>
      <AllowHWTranscoding>false</AllowHWTranscoding>
      <AllowFmp4TranscodingContainer>false</AllowFmp4TranscodingContainer>
      <AllowStreamSharing>true</AllowStreamSharing>
      <FallbackMaxStreamingBitrate>30000000</FallbackMaxStreamingBitrate>
      <EnableStreamLooping>true</EnableStreamLooping>
      <TunerCount>0</TunerCount>
      <IgnoreDts>true</IgnoreDts>
      <ReadAtNativeFramerate>true</ReadAtNativeFramerate>
    </TunerHostInfo>
  </TunerHosts>
  <ListingProviders />
  <PrePaddingSeconds>0</PrePaddingSeconds>
  <PostPaddingSeconds>0</PostPaddingSeconds>
  <MediaLocationsCreated />
  <RecordingPostProcessorArguments>"{path}"</RecordingPostProcessorArguments>
  <SaveRecordingNFO>true</SaveRecordingNFO>
  <SaveRecordingImages>true</SaveRecordingImages>
</LiveTvOptions>
