[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
retry_files_enabled = false
display_skipped_hosts = False
check_mode_markers = True
nocolor = False

[privilege_escalation]
become = false
